{
	email admin@brightsparklabs.com

	log {
		level {{ settings.reverse_proxy.debug.proxy.log_level|lower }}
		output file /var/log/caddy/access.log {
			roll_size 1gb
		}
		format json
	}

	{% if settings.reverse_proxy.services.proxy.enable_staging_ca %}
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	{% endif %}{# settings.reverse_proxy.services.proxy.enable_staging_ca #}

	{% if settings.reverse_proxy.services.proxy.enable_internal_tls %}
	local_certs
	{% endif %}{# settings.reverse_proxy.services.proxy.enable_internal_tls #}

	{% if settings.reverse_proxy.services.proxy.acme_dns_challenge.enable %}
	acme_dns route53 {
		access_key_id "{{ settings.reverse_proxy.services.proxy.acme_dns_challenge.access_key_id }}"
		secret_access_key "{{ settings.reverse_proxy.services.proxy.acme_dns_challenge.secret_access_key }}"
	}
	{% endif %}{# settings.reverse_proxy.services.proxy.enable_acme_dns_challenge #}

}


{% for route in settings.reverse_proxy.routing.routes %}

{{ route.external_endpoint }} {
    reverse_proxy {{ route.internal_endpoint }}
}

{% endfor %}
