---
##
 # Docker Compose file for running BSL Reverse Proxy.
 # ____________________________________________________________________________
 #
 # Created by brightSPARK Labs
 # www.brightsparklabs.com
 ##

services:
  # --------------------------------------------------------------------------
  # INFRASTRUCTURE
  # --------------------------------------------------------------------------

  proxy:
    image: caddy:2.8
    restart: always
    volumes:
      - ${REVERSE_PROXY_GENERATED_CONFIG_DIR:?}/proxy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ${REVERSE_PROXY_DATA_DIR:?}/proxy/:/data/
    ports:
      - 80:80
      - 443:443
    networks:
      proxy_network:
    {% for network in settings.reverse_proxy.routing.networks %}
      {{ network.project }}_{{ network.network | default('default') }}:
        {% if network.aliases %}
        aliases:
        {% for alias in network.aliases %}
        - {{ alias }}
        {% endfor %}
        {% endif %}
    {% endfor %}

networks:
  proxy_network:
    driver: bridge
  {% for network in settings.reverse_proxy.routing.networks %}
  {{ network.project }}_{{ network.network | default('default') }}:
    external: true
  {% endfor %}
